<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Search</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-5">
      <span class="navbar-brand mb-0 h1">Search Engine</span>
    </nav>
    
    <div class="container mb-5">
      <form class="form-inline text-center">
        <input class="form-control mr-3" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark">Buscar</button>
      </form>
    </div>
    
    <div class="container table-div">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">date</th>
            <th scope="col">text</th>
            <th scope="col">user_id</th>
            <th scope="col">user_name</th>
            <th scope="col">location</th>
            <th scope="col">retweeted</th>
            <th scope="col">RT_text</th>
            <th scope="col">RT_user_id</th>
            <th scope="col">RT_user_name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.date}}</td>
            <td>{{post.text}}</td>
            <td>{{post.user_id}}</td>
            <td>{{post.user_name}}</td>
            <td>{{post.location}}</td>
            <td>{{post.retweeted}}</td>
            <td>{{post.RT_text}}</td>
            <td>{{post.RT_user_id}}</td>
            <td>{{post.RT_user_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
